img {
  height: 325px;
}

.jumbotron {
  text-align: center;
}

.card {
  text-align: center;
  background-color: #8a96aa;
}

.card-title {
  font-weight: bolder;
  font-family: monospace;
  font-size: 25px;
}

#coffeeButton {
  margin: 10px;
}

#puppyButton {
  margin: 10px;
}
